# Ignore virtual environments
venv/
.env/
myvenv/
# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# Environment & secrets
*.env
.env.*
secret_*
